@charset "utf-8";

// Import all of Bulma
@import '../node_modules/bulma/';

// Fix styling in React Query Devtools
.ReactQueryDevtools {
  code,
  pre {
    color: inherit;
    background-color: initial;
    font-size: inherit;
  }
}
